:root {
	--font-size-factor: 1;
}

html[data-font-size="small"] {
	--font-size-factor: 0.9;
}

html[data-font-size="medium"] {
	--font-size-factor: 1;
}

html[data-font-size="large"] {
	--font-size-factor: 1.15;
}

html[data-font-size="x-large"] {
	--font-size-factor: 1.3;
}

html {
	font-size: calc(16px * var(--font-size-factor));
}
.text-xs {
	font-size: calc(0.75rem * var(--font-size-factor));
}

.text-sm {
	font-size: calc(0.875rem * var(--font-size-factor));
}

.text-base {
	font-size: calc(1rem * var(--font-size-factor));
}

.text-lg {
	font-size: calc(1.125rem * var(--font-size-factor));
}

.text-xl {
	font-size: calc(1.25rem * var(--font-size-factor));
}

.text-2xl {
	font-size: calc(1.5rem * var(--font-size-factor));
}

.text-3xl {
	font-size: calc(1.875rem * var(--font-size-factor));
}

.text-4xl {
	font-size: calc(2.25rem * var(--font-size-factor));
}
